@charset "UTF-8";

a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #333;
}

video {
    width: 25%;
    height: auto;
}

body {
    background-color: #f5f5f5;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #444;
    margin-bottom: 20px;
}

h2,
h3 {
    color: #555;
    margin-top: 20px;
}

h4 {
    font-size: 16px;
    margin-top: 15px;
    color: #666;
    font-weight: bold;
}


ol {
    margin: 10px 0 20px 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #1e90ff;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav h3 {
    margin-top: 0;
    font-size: 1.2em;
}

nav ol {
    margin-bottom: 20px;
}

nav ol:last-child {
    margin-bottom: 0;
}

.list-large {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.list-large li {
    width: 30%;
    /* 初期状態で3列表示 */
    margin-bottom: 10px;
}

/* 画面幅が1500px未満のとき */
@media (max-width: 1500px) {
    .list-large li {
        width: 45%;
        /* 2列表示 */
    }
}

/* 画面幅が1000px未満のとき*/
@media (max-width: 1000px) {
    .list-large li {
        width: 100%;
        /* 1列表示 */
    }
}

/* さらに文字が多く、より厳しく分割数を減らす場合 */
@media (max-width: 480px) {
    .list-large li {
        width: 100%;
        /* 文字数が多い場合、1列に強制する */
        font-size: 1.1em;
        /* 文字サイズを少し大きくして見やすく */
    }
}

ul.list-large {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #444;
}

a.back-link:hover {
    color: #000;
}

small {
    display: block;
    margin-top: 20px;
    color: #888;
}